<%- include('./includes/head') %>

<section class="container">
    <div>
        <h5>Telefone: <%= phone %></h5>
        <h5>E-mail: <%= mail %></h5>
    </div>
</section>

<%- include('./includes/footer') %>
