<%- include('includes/head') %> 
<%- include('includes/nav') %> 

<section class="container">
 
  <div class="flash-message success"></div>
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Mail</th>
          </tr>
      </thead>
      <tr>
          <td>Jefferson Lima</td>
          <td>+55 84 91234-5679</td>
          <td>sample@mail.com</td>
      </tr>
      <tr>
          <td>Jefferson Lima</td>
          <td>+55 84 91234-5679</td>
          <td>sample@mail.com</td>
      </tr>
      <tr>
          <td>Jefferson Lima</td>
          <td>+55 84 91234-5679</td>
          <td>sample@mail.com</td>
      </tr>
  </table>
</section>


<%- include('includes/footer') %> 